	@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');


    body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
	    font-family: 'Poppins', sans-serif;

      background-color: var(--colorBackground);
	  
    }

	:root {
	  --max-width: 700px; /* Set a CSS variable */
	}


    .dev {
        display: none;
    }

    #kscriptTemplateOptions, input {
    padding: 5px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    }


 	
    textarea, input, .CodeMirror {
        margin: 10px;
        padding: 10px;
        width: calc(min(90%, var(--max-width))); /* allows user to resize */
        /* width: 70%; */
        /* max-width: 500px; */

        resize: both;
        border-radius: 8px; /* Round the corners of the textarea */
        font-family: 'Poppins', sans-serif;
			  font-family: 'Special Elite', monospace;
				font-weight: 300;
        letter-spacing: 0.03em;
				line-height: 1.2;

        font-size: 16px;
        zzfont-weight: bold;
    }

    .CodeMirror {
      margin-top: 20px;
      font-family: 'Fira Code', monospace; 
      font-weight: normal;
      min-width: 50vw;
      width: 80vw;
      min-height: 50vh; 
      height: auto;
      resize: both;
      overflow: auto;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

    }  

    textarea {
		height: 20em;
	}
	
	input {
		width: 90%
		
	}
		

	textarea.resizable {
	  width: auto;
	}

		
    button {
      padding: 10px 20px;
      margin: 10px;
      border: 1.5px solid transparent; /* prevent buttons pushing each other */
	  box-shadow: 0 0 0 1px grey;  /* to add a border */
      background-color: var(--color1);
      cursor: pointer;
	  font-family: 'Poppins', sans-serif; /* Switch the font to Poppins */
      border-radius: 8px; /* Round the corners of the button */
      transition: background-color 0.3s, transform 0.3s; /* Add a transition effect */
	  white-space: nowrap
    }

    button:hover {
      background-color: var(--color2); 
      transform: scale(1.05);
	  border: 1.5px solid grey;
    }
    
    img.logo {
      height: 100px;
	  margin: 10px; 
    }
	
	.logo-text, #bannerNotice {
		margin: 10px; 
	}
	
	#preview {
	  font-family: 'Source Code Pro', monospace; 
	  white-space: pre-wrap;
	  font-size: 80%;
	  padding: 20px;
	  background-color: #f8f8f8; /* Slightly lighter background color */
	  margin: 10px;
	  display: none; 
	  max-width: 90vw; 
	  border: 1px solid grey;
	  border-radius: 5px;
	}
/*
	.hljs-quoted {
      color: blue;
    }
*/

   a {
      text-decoration: none;
    }
	
  
  #buttonsContainer, #footer {
	  display: flex;
	  gap: 10px; /* Add gap between buttons */
	  flex-wrap: nowrap; /* Prevent buttons from wrapping */
	  align-items: center; 
	}

:root {
  --color1: #e9e9e9;
  --color2: #f5f5f5; /* light grey */
  --color2test: red;
  --colorBackground_h23: #fff7d9;
  --colorBackground: #e4e9ef;
  --colorBackgroundtest: blue;
}


.tooltip {
  position: relative;
  /* Other styling for the div */
}

.tooltip:hover:after {  
/* #btnCopyPermalink[data-tooltip]:hover:after { */
  content: attr(data-tooltip);
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  background: #ffffff;
  color: #595959;
  padding: 6px 12px;
  border-radius: 5px;
  white-space: nowrap;
  font-size: 0.8em;
  border: 1px solid grey;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}


.checkbox-wrapper {
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  margin-right: 5px;
  vertical-align: middle;
}

input[type="checkbox"] + label {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}
